
/* GLOBAL */

body {
    margin: 0 auto;
}

.container {
    margin-top: 90px;
}

.section-title {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-subtitle {
    font-size: 20px;
    font-style: italic;
    margin-top: 0;
}

.box-wrapper {
    margin-top: 40px;
}

.box-text {
    h4 {
        font-size: 26px;
    }
    p {
        font-size: 17px;
    }
}



/* HEADER */


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    margin-left: 170px;
    margin-right: 140px;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-family: 'Lobster', cursive;        
        font-size: 36px;
        color: #A257A3;
    }
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    ul li {
        display: inline-block;
        margin-right: 30px;
        a {
            color: white;
            text-decoration: none;
            font-size: 18px;
        }
    }
}

header {
    height: 100vh;
    width: 100%;
    color: white;
    background:
        linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.6)
        ),
        url("https://i.postimg.cc/KjK2nrHR/pexels-anni-roenkae-2156881.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; 
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

header .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        font-size: 40px;
        font-style: italic;
        margin-bottom: 0;
    }
    h1 {
        margin-top: 24px;
        font-size: 80px;
    }
    .btn {
        background-color: #A257A3;
        height: 60px;
        width: 220px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1px;
        }
    }
}



/* SERVICES */

.services .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services .box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
}

.services i {
    font-size: 60px;
    color: #A257A3;
}

.services .box-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h4 {
        margin-bottom: 0;
    }
    p {
        text-align: center;
    }
}